#about,#resume,#courses{
font-family: 'Poiret One', cursive;	
}

#pabout, #presume, #pcourses,#pgithub{
	cursor: pointer;
	font-family: 'Gloria Hallelujah', cursive;
}
h1{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
	font-size: 40px;

}

html,body{
	max-width: 100%;
	width: 99%;
	overflow-x:hidden;
}